.container {
  box-sizing: border-box;
  margin: 40px auto;
  min-width: calc(320px - 32px);
  max-width: 375px;
  padding: 16px;
  border: 1px solid #a9a9a9; /* Thinner gray border */
  border-radius: 8px; /* Rounded corners */
  font-style: 14px;
}

h1 {
  margin-bottom: 20px;
  text-align: center; /* Centered the header */
}

.fill {
  display: block;
  width: 260px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #a9a9a9; /* Thinner gray border */
  border-radius: 8px; /* Rounded corners */
  background-color: #f0f0f0; /* Subtle gray for the input */
}

.submitBtn {
  display: block;
  margin-top: 32px;
}

/* Media Queries for Tablet and Desktop */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px;
  }

  .fill {
    width: 360px;
  }
}
