/* General styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* Title Styles */
h1 {
  font-size: 48px;
  text-align: center; /* Centered the header */
  margin-bottom: 20px;
  color: #333; /* Optional: Change the color for better visibility */
}

/* Text styles */
h3,
h4 {
  margin-bottom: 16px;
}
p {
  margin-bottom: 12px;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 16px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.events-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px 0;
  margin-bottom: 24px;
}

.events-list-item {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #a9a9a9; /* Thinner gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 12px;
  transition: background-color 0.3s; /* Smooth transition for highlighting */
}

.events-list-item:hover {
  background-color: #e0e0e0; /* Highlight on hover */
}

.links {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.registerLink,
.viewLink {
  cursor: pointer;
}

/* Button Styles */
button {
  background-color: #d3d3d3; /* Subtle gray color */
  border: none;
  border-radius: 20px; /* Oval shape */
  padding: 10px 20px; /* Padding for buttons */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.registerLink:hover,
.viewLink:hover {
  background-color: #c0c0c0; /* Slightly darker on hover */
}

/* Pagination Styles */
.pagination-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.pagination-item {
  font-style: 24px;
  cursor: pointer;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px;
  }

  .events-list {
    gap: 40px;
  }

  .events-list-item {
    width: calc((100% - 40px) / 2);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .events-list {
    gap: 40px;
  }

  .events-list-item {
    width: calc((100% - 120px) / 4);
  }
}
